.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.parent-container{
  background-color: #262626;
  height: 300px; 
  float: left;
  width: 100%;
}

.custom-card{
  max-width: 700px !important;
  margin: 130px auto 0 auto;
  border-radius: 4px
}

.custom-card-header{
  height: 85px;
  margin-bottom: 75px;
}

.top-hightlight{
  border-top: solid 3px #439539;
}

.top-dehightlight{
  border-top: solid 3px #FFFFFF;
}

.image-border{
  padding: 4px;
  border: 1px #cccccc solid;
  background-color: #FFFFFF;
}

